{% extends 'base.html' %}

{% block title %}
    Карты. {{ block.super }}
{% endblock %}

{% block content %}

    <form method="post" class="country-form">
        {% csrf_token %}
        {% for field in form %}
            <div>
               {{field.label}} {{field}}
            </div>
        {% endfor %}
        <input type="submit" value="отправить"/>
    </form>
    <div>
        {% for country in countries %}
            <h1 class="title-container">
                <a class="country-title" href="{{ country.get_absolute_url }}">{{country.name}}</a>
            </h1>
        {% endfor %}
    </div>
{% endblock %}
